@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
:root{
  --plyr-control-toggle-checked-background:#000000;
  --plyr-badge-background:#000000;
  --plyr-video-control-background-hover:#ffffff;
  --plyr-video-control-color-hover:#000000;
  --plyr-color-main:#ffffff;
  --plyr-menu-background:rgba(0,0,0,0.6);
  --plyr-menu-color:#ffffff;
  --plyr-menu-border-color:#ffffff;
}

/*play btn*/ 
.plyr__control.plyr__control--overlaid {
  background-color: rgba(0, 0, 0, 0.6); /* Glassy background */
  color: white; /* Icon color */
  border-radius: 50%; /* Optional: round button */
  padding: 15px; /* Adjust padding for size */
}
/* Optional: Style the menu title */
.plyr__menu .plyr__menu__container .plyr__menu__title {
  font-size: 1.3rem; 
  font-weight: bold; /* Optional: make the title bold */
}

@layer utilities {
  .hide-scrollbar {
    overflow: -moz-hidden-unscrollable; /* Firefox */
    overflow: hidden; /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .text-balance {
    text-wrap: balance;
  }
}
